.live-controls {
  position: absolute;
  padding: 12px;
  bottom: 10%;
  /* Find more reliable way to center. Cannot use transform as its draggable */
  right: calc(50% - 250px);
  user-select: none;
  border-radius: 8px;
  background-color: white;
  box-shadow:
    #00000033 0px 0px 1px,
    #0000001a 0px 0px 3.5px,
    #0000000d 0px 7px 14px;
  display: flex;
  flex-direction: column;
}

.live-controls .upper-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & .drag-handle {
    background-image: url("/assets/icons/drag_indicator.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 24px;
    height: 48px;
  }

  .pointer,
  .audio,
  .video,
  .swap-roles {
    --normal-bg-color: #f8d7da;
    --hover-bg-color: #e57373;
    --active-bg-color: #c62828;

    &.on {
      --normal-bg-color: #d4edda;
      --hover-bg-color: #a1d6a2;
      --active-bg-color: #60c465;
    }
  }

  .swap-roles {
    --icon: url("/assets/icons/swap_horiz.svg");
  }

  .pointer {
    --icon: url("/assets/icons/pointer_off.svg");
    &.on {
      --icon: url("/assets/icons/pointer_on.svg");
    }
  }

  .audio {
    --icon: url("/assets/icons/mic_off.svg");
    &.on {
      --icon: url("/assets/icons/mic_on.svg");
    }
  }

  .video {
    --icon: url("/assets/icons/videocam_off.svg");
    &.on {
      --icon: url("/assets/icons/videocam_on.svg");
    }
  }

  .expand-controls {
    --icon: url("/assets/icons//chevron_right.svg");
    transition: transform 250ms;
    &.expanded {
      transform: rotateZ(90deg);
    }
  }
}

.live-controls .lower-controls {
  --hidden-transition-dur: 250ms;
  display: flex;
  flex-direction: column;
  max-height: 180px;
  transition: max-height var(--hidden-transition-dur);
  padding: 16px 0 12px 0;
  .row-1 {
    display: flex;
    width: 100%;
    transition: opacity var(--hidden-transition-dur);
    gap: 8px;
    padding-bottom: 16px;
    &.hidden {
      opacity: 0;
    }

    .change-device {
      flex: 1;
      gap: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .icon {
        background-image: var(--icon);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;

        &.camera {
          --icon: url("/assets/icons/videocam_on.svg");
        }

        &.mic {
          --icon: url("/assets/icons/mic_on.svg");
        }
      }

      select {
        width: 120px;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        padding: 8px;
      }
    }
  }

  .row-2 {
    display: flex;
    width: 100%;
    gap: 8px;
    transition: opacity var(--hidden-transition-dur);
    * {
      flex: 1;
    }
    &.hidden {
      opacity: 0;
    }
  }

  &.hidden {
    overflow: hidden;
    max-height: 0;
    padding: 0;
  }
}

.code-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;

  .submit {
    --bg-color: rgb(245, 199, 182);
    --bg-color-hover: rgb(240, 177, 155);
    --bg-color-active: rgb(247, 156, 123);
  }

  .run {
    --bg-color: rgb(180, 247, 180);
    --bg-color-hover: rgb(141, 238, 141);
    --bg-color-active: rgb(97, 247, 97);
  }
}
