.live-controls {
  --controls-height: 60px;
  position: absolute;
  user-select: none;
  height: var(--controls-height);
  top: 90%;
  left: calc(50% - 120px);
  padding: 20px 20px 20px 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px;
  background-color: white;
  box-shadow: #00000033 0px 0px 1px, #0000001a 0px 0px 3.5px, #0000000d 0px 7px 14px;

  & .drag-handle {
    background-image: url("../../assets/icons/drag_indicator.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 48px;
  }

  .pointer,
  .audio,
  .video {
    --normal-bg-color: #f8d7da;
    --hover-bg-color: #e57373;
    --active-bg-color: #c62828;

    &.on {
      --normal-bg-color: #d4edda;
      --hover-bg-color: #a1d6a2;
      --active-bg-color: #60c465;
    }
  }

  & .pointer {
    --icon: url("../../assets/icons/pointer_off.svg");
    &.on {
      --icon: url("../../assets/icons/pointer_on.svg");
    }
  }
  & .audio {
    --icon: url("../../assets/icons/mic_off.svg");
    &.on {
      --icon: url("../../assets/icons/mic_on.svg");
    }
  }
  & .video {
    --icon: url("../../assets/icons/videocam_off.svg");
    &.on {
      --icon: url("../../assets/icons/videocam_on.svg");
    }
  }
}

.question-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-40px, -70px);
  display: flex;
  justify-content: center;
  align-items: center;

  & .change-question {
    --icon: url("../../assets/icons/change_question.svg");
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.25);
  }
}

.code-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;

  .submit {
    --bg-color: rgb(245, 199, 182);
    --bg-color-hover: rgb(240, 177, 155);
    --bg-color-active: rgb(247, 156, 123);
  }

  .run {
    --bg-color: rgb(180, 247, 180);
    --bg-color-hover: rgb(141, 238, 141);
    --bg-color-active: rgb(97, 247, 97);
  }
}
