button {
  --bg-color: white;
  --bg-color-hover: rgb(217, 217, 218);
  --bg-color-active: rgb(214, 214, 214);
  background-color: var(--bg-color);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 250ms;

  &:hover {
    background-color: var(--bg-color-hover);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &:focus-visible {
    box-shadow: none;
  }

  &:active {
    background-color: var(--bg-color-active);
  }
}
