button {
  --bg-color: white;
  --bg-color-hover: rgb(217, 217, 218);
  --bg-color-active: rgb(214, 214, 214);
  background-color: var(--bg-color);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 250ms;

  &:hover {
    background-color: var(--bg-color-hover);
    box-shadow: 2px 4px 1x2px rgba(0, 0, 0, 0.25);
  }

  &:focus-visible {
    box-shadow: none;
  }

  &:active {
    background-color: var(--bg-color-active);
  }
}

.round-icon-btn {
  --normal-bg-color: #ffffff;
  --hover-bg-color: #cfcfcf;
  --active-bg-color: #b8b8b8;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: var(--normal-bg-color);
  transition: background-color 250ms;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;

  &:hover {
    background-color: var(--hover-bg-color);
  }

  &:active {
    background-color: var(--active-bg-color);
  }
}
