@font-face {
  font-family: "Menlo";
  src: url("../../assets/fonts/Menlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --grid-gap: 12px;
  --header-height: 60px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 80% auto;
  gap: var(--grid-gap);

  /* Editor */
  .editor-container {
    position: relative; /* for the new question button */
    .editor {
      height: 100%;
    }
  }

  /* Compiler */
  .compiler {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
}

.handle {
  position: absolute;
  background-color: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;

  & .drag-icon {
    width: 24px;
    height: 24px;
    margin-left: -5px; /* fixme: get new svg whose handle is already centered (vertical handle) */
    background-image: var(--icon);
    background-repeat: no-repeat;
  }

  &.vertical {
    --icon: url("../../assets/icons/drag_handle_vertical.svg");
    width: var(--grid-gap);
    height: calc(100% - var(--header-height));
    left: 40%;
    top: var(--header-height);
    cursor: col-resize;
  }

  &.horizontal {
    --icon: url("../../assets/icons/drag_handle_horizontal.svg");
    width: calc(60% - var(--grid-gap));
    height: var(--grid-gap);
    right: 0;
    /* top is set from the code as it requires some complicated calculation */
    cursor: row-resize;
  }
}
