.video-container {
  --width: 320px;
  position: absolute;
  user-select: none;
  min-width: 320px;
  min-height: auto;
  aspect-ratio: 16 / 9;
  /* you can use 'right: 0' but that messes up the interactjs as it only modifies left */
  left: calc(100% - var(--width));
  top: calc(0% + var(--header-height));

  video {
    display: block;
  }

  .video-in-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
    .video-in {
      width: 100%;
      height: 100%;
      background-color: lightblue;
    }
  }

  .video-out-container {
    position: absolute;
    height: 72px;
    width: 128px;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
    right: 4px;
    bottom: 4px;
    background-color: coral;
    .video-out {
      width: 100%;
      height: 100%;
    }

    .no-audio-icon {
      --dimen: 18px;
    }

    .no-video-icon {
      --dimen: 18px;
    }
  }

  /* TODO: Audio icon is not very visible when video is playing use some effect to make it more visible */
  .no-audio-icon {
    --dimen: 24px;
    position: absolute;
    width: var(--dimen);
    height: var(--dimen);
    left: 0;
    bottom: 0;
    margin: 8px;
    background-image: url("../../assets/icons/mic_off_filled_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--dimen);
  }

  .no-video-icon {
    --dimen: 24px;
    position: absolute;
    width: var(--dimen);
    height: var(--dimen);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/icons/videocam_off_filled_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--dimen);
  }

  .off {
    visibility: hidden;
  }
}
